.Rproj.user
.Rhistory
.RData
.Ruserdata
.nextflow*
*.snakemake.log*
.snakemake/
logs/
data/
output/
work/
slurm*
*python/cache/*
*.h5ad
nextflow
*.out
*.err
__pycache__/
results/
src/technology_xenium.ipynb
results/
*.png
GreiS/
src/*.pdf